---
layout: page
section-type: index
description: "Nossas dúvidas são traidoras e nos fazem perder o bem que poderíamos conquistar se não fosse o medo de errar. <br/>(William Shakespeare)"
---

  {% for post in paginator.posts %}
  <div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
      <h2 class="post-title">{{ post.title }}</h2>
      {% if post.subtitle %}
      <h3 class="post-subtitle">
        {{ post.subtitle }}
      </h3>
      {% endif %}
    </a>
    <p class="post-meta">
	  {% include date-ptbr.html date = post.date %} | <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread">comentários</a>
	</p>
  </div>
  <hr>
  {% endfor %}

  <!-- Pager -->
  {% if paginator.total_pages > 1 %}
  <ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Página anterior</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Próxima página &rarr;</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
