<script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.bundle.min.js" integrity="sha512-HvOjJrdwNpDbkGJIG2ZNqDlVqMo77qbs4Me4cah0HoDrfhrbA+8SBlZn1KrvAQw7cILLPFJvdwIgphzQmMm+Pw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js" integrity="sha512-4xUl/d6D6THrAnXAwGajXkoWaeMNwEKK4iNfq5DotEbLPAfk6FSxSP3ydNxqDgCw1c/0Z1Jg6L8h2j+++9BZmg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer src="{{'/assets/js/search-engine.js' | relative_url }}?v={{ site.time | date: '%y-%m-%d' }}"></script>
<script defer src="{{'/assets/js/main.min.js' | relative_url }}?v={{ site.time | date: '%y-%m-%d' }}"></script>
{% if page.url == "/contato/" | prepend: {{site.baseurl}} %}
<script defer src="{{ '/assets/js/contact.min.js' | relative_url }}?v={{ site.time | date: '%y-%m-%d' }}"></script>
{% endif %}