<footer class="border-top">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <ul class="list-inline text-center">
          {% for social in site.social-network-links %}
          <li class="list-inline-item">
            <a href="{{ social.url }}" title="{{ social.name }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="{{ social.icon }} fa-stack-1x fa-inverse"></i>
              </span>
              <span class="sr-only">{{ social.name }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
        <div class="small text-center text-muted fst-italic">
          Copyright © {{ site.time | date: '%Y' }} {{ site.title }}
        </div>
      </div>
    </div>
  </div>
</footer>