<footer>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <ul class="list-inline text-center">
          {% assign filtered_social_links_footer = site.social-network-links | where:"display","footer" %}
          {% for social in filtered_social_links_footer %}
          <li class="list-inline-item">
            <a href="{{ social.url }}" title="{{ social.name }}" target="_blank">
              <i class="{{ social.icon }}"></i>
              <span class="sr-only">{{ social.name }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
        <div class="small text-center text-muted fst-italic">
          Copyright © {{ site.time | date: '%Y' }} {{ site.title }}
        </div>
      </div>
    </div>
  </div>
</footer>