
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
  <script src="{{ '/js/clean-blog.min.js' | prepend: site.baseurl }}"></script>
  {% if page.url == "/contato/" | prepend: {{site.baseurl}} %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
  <script src="{{ '/js/contact.min.js' | prepend: site.baseurl }}"></script>
  <script>
    var contactform =  document.getElementById('contactForm');
    {% if site.email-username %}
        {% if site.email-username contains '@' %}
          {% assign newemail = site.email-username | split: '@' %}
          contactform.setAttribute('action', '//formspree.io/' + '{{ newemail[0] }}' + '@' + '{{ newemail[1] }}');
        {% else %}
          contactform.setAttribute('action', '//formspree.io/' + 'site.email-username');
        {% endif %}
    {% endif %}
  </script>
  {% endif %}

  {% if site.disqus-shortname %}
    {% if page.section-type == "post" %}
    <script type="text/javascript">
      var disqus_shortname = '{{ site.disqus-shortname }}';
      var disqus_config = function () {
        this.page.url = '{{ page.url | replace:\'index.html\',\'\' | prepend: site.baseurl | prepend: site.url }}';  
        this.page.identifier = '{{ page.url }}'; 
      };
      (function() {
          var d = document, s = d.createElement('script');
          s.src = '//'+ disqus_shortname +'.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
    </script>
    {% endif %}

    {% if page.section-type == "index" %}
    <script id="dsq-count-scr" src="//{{ site.disqus-shortname }}.disqus.com/count.js" async></script>
    {% endif %}

  {% endif %}

  {% if site.google-tracking-id %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google-tracking-id }}', 'auto');
    ga('send', 'pageview');
  </script>
  {% endif %}
