<div class="scroller-status">
  <div class="loader-ellips infinite-scroll-request" style="display: none;">
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
  </div>
  <p class="infinite-scroll-last">
    Fim do conteúdo. <i class="fa-regular fa-face-grin-wide"></i>
  </p>
  <p class="infinite-scroll-error" style="display: none;">
    Não há mais páginas para carregar. <i class="fa-regular fa-face-grin-beam-sweat"></i>
  </p>
</div>