<div class="scroller-status">
  <div class="loader-ellips infinite-scroll-request" style="display: none;">
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
  </div>
  <p class="infinite-scroll-last">
    Fim do conteúdo.<br/><br/>
    <i class="nes-icon trophy is-large"></i>
  </p>
  <p class="infinite-scroll-error" style="display: none;">
    Não há mais páginas para carregar.<br/><br/>
    <i class="nes-icon is-large is-half heart"></i>
  </p>
</div>