<div id="search-box" class="search">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="search__box">
          <div id="search-close" class="search__close">
            <i class="fa-solid fa-xmark"></i>
          </div>
          <div class="search__group">
            <label for="searchInput" class="screen-reader-text">Pesquisar</label>
            <input id="searchInput" type="text" name="q" maxlength="255" class="search__text"
                   autocomplete="off" placeholder="Escreva para pesquisar...">
          </div>
          <ul id="searchResults" class="search-results-list"></ul>
        </div>
      </div>
    </div>
  </div>
</div>