//
// Dark Mode
//

.dark {
  color: #e1e1e1;
  background-color: #222;

  a {
    color: #e1e1e1;
    &:hover,
    &:focus {
      color: #28a9e6;
    }
  }

  #navigation {
    background-color: rgba(59, 59, 59, 1);
    border-color: rgba(250, 250, 250, 0.125);

    a {
      color: rgba(250, 250, 250, 1);
      &:focus,
      &:hover {
        color: #28a9e6;
      }
    }

    button {
      color: rgba(250, 250, 250, 1);
      border-color: rgba(250, 250, 250, 0.125);
    }

    .navbar-brand {
      color: rgba(250, 250, 250, 1);
      &:focus,
      &:hover {
        color: #28a9e6;
      }
    }

    .navbar-nav {
      > li.nav-item {
        > a {
          color: rgba(250, 250, 250, 1);

          &:focus,
          &:hover {
            color: #28a9e6;
          }
        }
      }
    }

    @include media-breakpoint-up(lg) {
      border-bottom: $border-width solid transparent;
      background: transparent;
    }

    @include media-breakpoint-up(lg) {
      &.is-fixed {
        background-color: rgba(59, 59, 59, 1);
        border-color: rgba(250, 250, 250, 0.125);
      }
    }
  }

  .post-preview {
    border-color: rgba(250, 250, 250, 0.125);
  }

  .btn-outline-dark {
    border-color: #e1e1e1;
    &:hover {
      border-color: #28a9e6;
      background-color: #28a9e6;
      color: #222;
    }
  }

  .back-to-top {
    background: #626262;

    &:hover {
      background-color: #28a9e6;
    }
  }

  .search {
    background: #000;
  }

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .search {
      background-color: rgba(59, 59, 59, 0.9);
    }
  }

  .search__box {
    .search__close {
      color: #e1e1e1;

      &:hover {
        transform: rotate(90deg);
        color: #fff;
      }
    }
  }

  .search__group {
    margin-bottom: 30px;

    .search__text {
      border-bottom: 5px solid #e1e1e1;
      color: #e1e1e1;

      &::-webkit-input-placeholder {
        color: #e1e1e1;
      }

      &::placeholder {
        color: #e1e1e1;
      }

      &:focus {
        color: #e1e1e1;
        border-bottom-color: #28a9e6;
      }
    }
  }

  .search-results-list {
    color: #e1e1e1;

    .search-results__item {
      border-bottom: 1px solid rgba(23, 24, 30, 0.1);

      &:hover {
        .search-results__link {
          color: #fff;
        }
      }
    }

    .search-results__link {
      color: #e1e1e1;
    }

    .search-results-date {
      color: #ddd;
    }
  }

  footer .list-inline-item a {
    color: #626262;

    &:hover {
      color: #28a9e6;
    }
  }

  .border-top {
    border-color: rgba(250, 250, 250, 0.125) !important;
  }
}
