// 
// Typography
// 

// Override Bootstrap typography variables

$font-family-base: 'Lora', serif;
$headings-font-family: 'Chakra Petch', sans-serif;

// Links
$link-color: $gray-900;
$link-hover-color: $primary;
$link-decoration: none;

// Headings
$headings-font-weight: 800;