//
// Buttons
//

// Add a slight letter spacing to buttons

.btn {
  letter-spacing: 0.0625em;
}

.back-to-top {
  position: fixed !important;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  //background: $gray-900;
  width: 40px;
  height: 40px;
  transition: all 0.4s;

  @include pixel-box(
    $corner-size: 1,
    $border-size: 4px,
    $background-color: #e76e55,
    $border-inset: true
  );

  i {
    color: $white;
    line-height: 0;
  }
  &:hover {
    background: #e45b3f;
  }
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
