.highlight {
  background: #282a36 !important;
  color: #f8f8f2 !important;
  background: #282a36 !important;
  color: #f8f8f2 !important;
  background-color: #282a36 !important;
  pre {
    background: #282a36 !important;
    color: #f8f8f2 !important;
    font-size: 0.875rem;
    line-height: 1.5em;
    border-radius: 0.25rem;
    padding: 0.59375rem;
  }
  table {
    background: #282a36 !important;
    color: #f8f8f2 !important;
  }
  .hll {
    background-color: #ffffcc !important;
  }
  .c {
    color: #6272a4 !important;
    background-color: #282a36 !important;
  }
  .err {
    color: #f8f8f2 !important;
    background-color: #282a36 !important;
  }
  .g {
    color: #f8f8f2 !important;
    background-color: #282a36 !important;
  }
  .k {
    color: #ff79c6 !important;
    background-color: #282a36 !important;
  }
  .l {
    color: #f8f8f2 !important;
    background-color: #282a36 !important;
  }
  .n {
    color: #f8f8f2 !important;
    background-color: #282a36 !important;
  }
  .h {
    color: #f8f8f2 !important;
    background-color: #282a36 !important;
  }
  .o {
    color: #f8f8f2 !important;
    background-color: #282a36 !important;
  }
  .x {
    color: #f8f8f2 !important;
    background-color: #282a36 !important;
  }
  .p {
    color: #f8f8f2 !important;
    background-color: #282a36 !important;
  }
  .cm {
    color: #6272a4 !important;
    background-color: #282a36 !important;
  }
  .cp {
    color: #ff79c6 !important;
    background-color: #282a36 !important;
  }
  .c1 {
    color: #6272a4 !important;
    background-color: #282a36 !important;
  }
  .cs {
    color: #6272a4 !important;
    background-color: #282a36 !important;
  }
  .gd {
    color: #8b080b !important;
    background-color: #282a36 !important;
  }
  .ge {
    color: #f8f8f2 !important;
    text-decoration: underline !important;
    background-color: #282a36 !important;
  }
  .gr {
    color: #f8f8f2 !important;
    background-color: #282a36 !important;
  }
  .gh {
    color: #f8f8f2 !important;
    font-weight: bold !important;
    background-color: #282a36 !important;
  }
  .gi {
    color: #f8f8f2 !important;
    font-weight: bold !important;
    background-color: #468410 !important;
  }
  .go {
    color: #3b3a32 !important;
    background-color: #32343f !important;
  }
  .gp {
    color: #f8f8f2 !important;
    background-color: #282a36 !important;
  }
  .gs {
    color: #f8f8f2 !important;
    background-color: #282a36 !important;
  }
  .gu {
    color: #f8f8f2 !important;
    font-weight: bold !important;
    background-color: #282a36 !important;
  }
  .gt {
    color: #f8f8f0 !important;
    background-color: #ff79c6 !important;
  }
  .kc {
    color: #ff79c6 !important;
    background-color: #282a36 !important;
  }
  .kd {
    color: #ff79c6 !important;
    background-color: #282a36 !important;
  }
  .kn {
    color: #ff79c6 !important;
    background-color: #282a36 !important;
  }
  .kp {
    color: #ff79c6 !important;
    background-color: #282a36 !important;
  }
  .kr {
    color: #ff79c6 !important;
    background-color: #282a36 !important;
  }
  .kt {
    color: #f8f8f2 !important;
    background-color: #282a36 !important;
  }
  .ld {
    color: #f8f8f2 !important;
    background-color: #282a36 !important;
  }
  .m {
    color: #bd93f9 !important;
    background-color: #282a36 !important;
  }
  .s {
    color: #f1fa8c !important;
    background-color: #282a36 !important;
  }
  .na {
    color: #50fa7b !important;
    background-color: #282a36 !important;
  }
  .nb {
    color: #f8f8f2 !important;
    background-color: #282a36 !important;
  }
  .nc {
    color: #f8f8f2 !important;
    background-color: #282a36 !important;
  }
  .no {
    color: #f8f8f2 !important;
    background-color: #282a36 !important;
  }
  .nd {
    color: #f8f8f2 !important;
    background-color: #282a36 !important;
  }
  .ni {
    color: #f8f8f2 !important;
    background-color: #282a36 !important;
  }
  .ne {
    color: #f8f8f2 !important;
    background-color: #282a36 !important;
  }
  .nf {
    color: #50fa7b !important;
    background-color: #282a36 !important;
  }
  .nl {
    color: #f1fa8c !important;
    background-color: #282a36 !important;
  }
  .nn {
    color: #f8f8f2 !important;
    background-color: #282a36 !important;
  }
  .nx {
    color: #f8f8f2 !important;
    background-color: #282a36 !important;
  }
  .py {
    color: #f8f8f2 !important;
    background-color: #282a36 !important;
  }
  .nt {
    color: #ff79c6 !important;
    background-color: #282a36 !important;
  }
  .nv {
    color: #8be9fd !important;
    font-style: italic !important;
    background-color: #282a36 !important;
  }
  .ow {
    color: #ff79c6 !important;
    background-color: #282a36 !important;
  }
  .w {
    color: #f8f8f2 !important;
    background-color: #282a36 !important;
  }
  .mf {
    color: #bd93f9 !important;
    background-color: #282a36 !important;
  }
  .mh {
    color: #bd93f9 !important;
    background-color: #282a36 !important;
  }
  .mi {
    color: #bd93f9 !important;
    background-color: #282a36 !important;
  }
  .mo {
    color: #bd93f9 !important;
    background-color: #282a36 !important;
  }
  .sb {
    color: #f1fa8c !important;
    background-color: #282a36 !important;
  }
  .sc {
    color: #f1fa8c !important;
    background-color: #282a36 !important;
  }
  .sd {
    color: #f1fa8c !important;
    background-color: #282a36 !important;
  }
  .s2 {
    color: #f1fa8c !important;
    background-color: #282a36 !important;
  }
  .se {
    color: #f1fa8c !important;
    background-color: #282a36 !important;
  }
  .sh {
    color: #f1fa8c !important;
    background-color: #282a36 !important;
  }
  .si {
    color: #f1fa8c !important;
    background-color: #282a36 !important;
  }
  .sx {
    color: #f1fa8c !important;
    background-color: #282a36 !important;
  }
  .sr {
    color: #f1fa8c !important;
    background-color: #282a36 !important;
  }
  .s1 {
    color: #f1fa8c !important;
    background-color: #282a36 !important;
  }
  .ss {
    color: #f1fa8c !important;
    background-color: #282a36 !important;
  }
  .bp {
    color: #f8f8f2 !important;
    background-color: #282a36 !important;
  }
  .vc {
    color: #8be9fd !important;
    font-style: italic !important;
    background-color: #282a36 !important;
  }
  .vg {
    color: #8be9fd !important;
    font-style: italic !important;
    background-color: #282a36 !important;
  }
  .vi {
    color: #8be9fd !important;
    font-style: italic !important;
    background-color: #282a36 !important;
  }
  .il {
    color: #bd93f9 !important;
    background-color: #282a36 !important;
  }
}
