---
layout: default
---

{% include hero.html %}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-8 col-d-12">
        <div class="section__head">
          <h2 class="section__title">Últimos posts</h2>
          <span class="section__rule"></span>
        </div>

        {% assign posts = paginator.posts | default: site.posts %}
        <div class="article-feed">
          {% for post in posts %}
            {% include article-card.html post=post %}
          {% endfor %}
        </div>

        {% include scroller-status.html %}

        {% include pagination.html %}
      </div>

      <div class="col-4 col-d-12">
        {% include sidebar.html %}
      </div>
    </div>
  </div>
</section>
